* {
  font: "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.header {
  width: 100%;
  height: 60px;
  background-color: rgb(21, 71, 45);
  padding: 10px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.isi {
  margin: 20px;
}
.footer {
  width: 100%;
  height: 40px;
  background-color: rgb(14, 40, 27);
  text-align: center;
  color: white;
  padding: 10px;
}
.btn-isi-quiz {
  text-align: center;
  margin-bottom: 30px;
}
.btn-isi-quiz a {
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: rgb(50, 91, 54);
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.owner {
  color: white;
  text-decoration: none;
}
.owner:hover {
  text-decoration: none;
  color: rgb(48, 189, 76);
}
