
        body{
            font-family: Arial,sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        header{
            background-color: #3498db;
            color: white;
            text-align: center;
            padding: 20px;
        }

        nav{
            display: flex;
            justify-content: center;
            background-color: #27ae60;
        }

        nav a{
            text-decoration: none;
            color: white;
            padding: 10px 20px;
        }

        .container{
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .main-content{
            flex: 70%;
        }

        .sidebar{
            flex: 30%;
        }

        footer{
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }

        /* responsif */
        @media (max-width: 768px){
            .container{
                flex-direction: column;
            }
            .main-content,
            .sidebar{
                width: 100px;
            }
        }
