
body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
 }
 header {
     background-color: yellowgreen;
     color: white;
     text-align: center;
     padding: 20px;
 }
 nav {
     display: flex;
     justify-content: center;
     background-color: black;
 }
 nav a {
     text-decoration: none;
     color: white;
     padding: 10px 20px;
 }
 .container {
     max-width: 1200px;
     margin: 20px auto;
     padding: 20px;
     background-color: white;
     border-radius: 5px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .maincontent {
     flex: 70%;
 }
 .sidebar {
     flex: 30%;
 }
 footer{
     background-color: black;
     color: white;
     text-align: center;
     padding: 10px;
 }
 @media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .maincontent,
    .sidebar{
        width: 100%;
    }

        
    
 }
    