body{
    margin: 0;
    padding: 0;
    font-family: 'Young Serif', serif;
    background-color:#f2f2f2 ;

}
header{
    background-color: #82A0D8;
    color:#f2f2f2;
    text-align: center;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #8DDFCB ;
}
nav a{
    text-decoration: none;
    color: #ff7f17;
    padding: 10px 20px;
}

main{
    max-width: 1200px;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content{
    width: 75%;
    padding: 20px;
    margin: 10px;
}
.side-bar {
    flex: 30%;
  }

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
    .main.content,
    .sidebar {
      width: 100%;
    }
  }


