*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main {
    background-color: #5c5c5c;
    width: 100%;
    height: 100vh;
    background-image: url(./asset/background\ gitar.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 36px;
    color: greenyellow;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    color: whitesmoke;
    text-transform: uppercase;
}
.navbar ul li ::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(249, 207, 129);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover:after {
    width: 100%;
}
.contents {
    margin-top: 145px;
    text-align: center;
    color: white;
}
.contents h1 {
    font-size: 80px;
    margin-top: 80px;
    color: rgb(249, 207, 129);   
}
.contents p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
div>a {
    width: 200px;
    margin: 20px 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 3px solid greenyellow;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
span {
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    background: green;
    transition: 0.5s;
}
buttn:hover span {
    width: 100%;
}
div>a:hover {
    border: none;
}