body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: blue;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px 20px;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  width: 45%;
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}

footer {
  background-color: blue;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}
